{% extends 'layout.html' %}
{% block content %}

<H1>
    Welcome user {{msg}}
</H1>
<div class="justify-conetent-centre" >
    <form  style="margin-left: auto; margin-right:auto;" action="/" method="post">
        <div class="row g-0">

            <div class="col-sm-2"></div>
            <div class="form-group col-12 col-sm-7">
                
                <input class="form-control" type="text" name="idea">
            </div>
            
            
            <div class="form-group d-grid gap-2 d-sm-block col-sm-3">

                <button type="submit" class="btn btn-primary mb-2">Post Your Idea</button>
            </div>
        </div>
        
    </form>
</div>
<h2>your ideas</h2>
<!--

    <ul>
        {% for doc in doc_ref %}
        <li>
            <div class="card" style="margin-top: 1em;">
                <div class="card-body">
                    <h5 class="card-title">{{doc.to_dict()['body']}}</h5>
                    <p class="card-text">{{doc.to_dict()['level']}}<a href="/idea/{{doc.id}}">{{doc.id}}</a></p>
                </div></div>    
            </li>
            {% endfor %}
        </ul>
    -->
    
    {% set one = [] %}
    {% set two = [] %}
    {% set three = [] %}
    {% set four = [] %}
    {% for doc in doc_ref %}
        {% if doc.to_dict()['level'] == 1 %}
        
        {{one.append(doc)}}
        {% endif %}
        {% if doc.to_dict()['level'] == 2 %}
        
        {{two.append(doc)}}
        {% endif %}
        {% if doc.to_dict()['level'] == 3 %}
        
        {{three.append(doc)}}
        {% endif %}
        {% if doc.to_dict()['level'] == 4 %}
        
        {{four.append(doc)}}
        {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col-sm-3">back burner
        {% for doc in one %}
        <div class="card" style="margin-top: 1em;">
            <div class="card-body">
                <h5 class="card-title">{{doc.to_dict()['body']}}</h5>
                <p class="card-text">{{doc.to_dict()['idea']}}<a href="/idea/{{doc.id}}">{{doc.id}}</a></p>
            </div></div>
        {% endfor%}
    </div>
        <div class="col-sm-3">planning
            {% for doc in two %}
            <div class="card" style="margin-top: 1em;">
                <div class="card-body">
                    <h5 class="card-title">{{doc.to_dict()['body']}}</h5>
                    <p class="card-text">{{doc.to_dict()['idea']}}<a href="/idea/{{doc.id}}">{{doc.id}}</a></p>
                </div></div>
            {% endfor%}   
        </div>
        <div class="col-sm-3">doing
            {% for doc in three %}
            <div class="card" style="margin-top: 1em;">
                <div class="card-body">
                    <h5 class="card-title">{{doc.to_dict()['body']}}</h5>
                    <p class="card-text">{{doc.to_dict()['idea']}}<a href="/idea/{{doc.id}}">{{doc.id}}</a></p>
                </div></div>
            {% endfor%}      </div>
        <div class="col-sm-3">done
            {% for doc in four %}
            <div class="card" style="margin-top: 1em;">
                <div class="card-body">
                    <h5 class="card-title">{{doc.to_dict()['body']}}</h5>
                    <p class="card-text">{{doc.to_dict()['idea']}}<a href="/idea/{{doc.id}}">{{doc.id}}</a></p>
                </div></div>
            {% endfor%}       </div>
    </div>
    
<style>
    body{
        background-color:{{session['color']}}
    }
    ul{ list-style: none;
    box-sizing: border-box;
margin: 0 auto;}
   .card{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        /*background-color: aqua;*/
        
        text-align: center;
        
    } 
    
</style>
{% endblock %}