<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar bg-light navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Ih</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              {% if session['user']%}
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Welcome, {{msg}}</h5>
              {% else %}
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Ih</h5>
              {% endif %}
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                
                {% if session['user']%}
                <li class="d-lg-none">
                  <div class="card">
                    <ul class="navbar-nav"  >
                    <li class="nav-items"><a class="nav-link" href="/user/{{msg}}">Profile</a></li>
                    <li class="nav-items"><a class="nav-link" href="/edit_user/{{msg}}">Edit Profile</a></li>
                    <li class="nav-items"><a class="nav-link" href="/">Ideas</a></li>
                   
                    
                  </ul></div>
                </li>  
                <li class=" d-none d-lg-block nav-item dropdown order-lg-3">
                    <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{msg}}
                    </a>
                    
                    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="offcanvasNavbarDropdown">
                      <image src="https://firebasestorage.googleapis.com/v0/b/ideapad-9e040.appspot.com/o/Static%2Fprofile_pics%2F{{session['pic']}}?alt=media&token=effab21d-20df-4553-930a-d44fed8f9e54" style="width:40px;height:40px;"></image>
                      <li><a class="dropdown-item" href="/user/{{msg}}">Profile</a></li>
                      <li><a class="dropdown-item" href="/">Ideas</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                    </ul>
                    {% endif %}
                  </li>
                <li class="nav-item order-lg-1">
                  <a class="nav-link" aria-current="page" href="/about">about</a>
                </li>
               
                
                {% if not session['user']%}  
                <form class="order-lg-4" action="/login">    
                  <button type="submit" class="btn btn-outline-success" >Log in</button>
                </form>
                <form class="order-lg-4" action="/sign-up">    
                    <button type="submit" class="btn btn-outline-dark" >Sign-up</button>
                  </form>
                {% endif %}
              
              
                {% if session['user']%}  
                <form class="d-flex justify-content-end d-lg-none order-lg-4" action="/logout">    
                  <button type="submit" class="btn btn-outline-danger" >Logout</button>
                </form>
                {% endif %}
                
            </ul>
            </div>
          </div>
        </div>
      </nav>
     <main>
    <div class="container justify-content-center">
        
    {% block content %}
    {% endblock %}
    </div>
  </main>
</body>
<style>
main{
  opacity:0;
  transition: opacity 2s ease-in-out, 2s ease-in-out;
}
body{
  background-color:{{session['color']}}

}
.card{background-color: #a39e86;}
</style>
<script>
  var main = document.querySelector("main");
  main.style.opacity =1;
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>