{% extends 'layout.html' %}
{% set titleText = "" %}
{% if session['user'] == user_details['uid']  %}
    {% set titleText = "Your Profile" %}
{% else %}
    
    {% set titleText = user_details['display name']+ "'s Profile" %}
{% endif %}
{% block title %}{{titleText}} {% endblock %}
{% block content %}
<section class="mt-2">
    
   
<div class="row">
    <div class="col-lg-3"><div class="row justify-content-center  " > 
    <div class=" mt-auto mb-auto col-12 col-md-12 order-2 order-lg-2 text-center">{{user_details['display name']}}</div>
    <img class="col-12 g-0 col-lg-12 order-1 order-lg-1 profileimg"   src="{{link}}">
    <div class=" d-none mt-1 order-3  d-lg-block order-lg-3">
    {% if session['user'] == user_details['uid'] %}
        <form action="/edit_user/{{user_details['uid']}}">
        <button class="btn btn-outline-dark "> Edit Profile</button>
        </form>
    {% else %}    
    <form >
        <button class="btn btn-outline-dark disabled"> Follow</button>
        </form>
    {% endif %}    
</div>
</div>
</div>
    <div class="col-lg-7  mt-lg-5">
    
        <div class="card pt-5 pt-lg-1 mt-n1"><div class="card-body">
         
        <h5 class="card-title">Bio ...</h5>
        <p class="card-text">{{user_details['bio']}}</p>
    </div></div></div>
</div>
</section>
<style>
    .profileimg{height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;
    }

    .mt-n1{margin-top: -3em;
    z-index: -1;}
    @media (min-width:992px){
        .profileimg{height: 260px;
    width: 260px;
    object-fit: cover;
    }  

    .mt-n1{margin-top: 0;
    z-index: 1;}
    }
</style>
{% endblock %}